.example-spacer {
  flex: 1 1 auto;
}

.example-icon {
  padding: 0 14px;
}

.nav-sub {
  color: white;
}

mat-toolbar {
  box-shadow: -0.1em 0.15em 0.1em rgba(0,0,0,0.2);
  height: 9%;
  width: 100%;
}

