#particles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: cornflowerblue;
}

.example-card {
  position: absolute;
  width: 320px;
  padding: 32px;
  opacity: 0.9;
}

.example-card form {
  display: flex;
  flex-direction: column;
}

.example-card mat-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-card-actions {
  margin-left: 0;
}


.example-full-width {
  width: 98%;
}

.mat-card-title {
  font-size: 16px;
}

