<app-header></app-header>
<section id="mainBody">
  <mat-grid-list cols="3" rowHeight="4:1">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile colspan="2"></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile colspan="2">
      <p id="title">Learning Design Pattern</p>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile colspan="2">
      <p id="content">
        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;基于 Google Blockly 的设计模式可视化学习平台。结合 Google Blocks强大的功能和设计模式这一经典的编程思想，为初入编程大门的人提供一个易于学习的平台。
      </p>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile colspan="2">
      <button mat-raised-button color="primary" (click)="onClick()">开始学习</button>
    </mat-grid-tile>
  </mat-grid-list>
</section>
